{{- if eq .chezmoi.os "linux" -}}
[Unit]
Description=Google Drive (Rclone Mount)
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount gdrive: %h/mnt/GoogleDrive \
    --vfs-cache-mode writes \
    --vfs-cache-max-age 24h \
    --dir-cache-time 72h \
    --buffer-size 32M \
    --timeout 30s \
    --low-level-retries 3
ExecStop=/usr/bin/fusermount -u %h/mnt/GoogleDrive
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
{{- end -}}
