# ── Rio Terminal Configuration ────────────────────────────────────────────────
# Managed by Chezmoi
# Powered by WebGPU (Sugarloaf engine + Swash font rasterizer)

line-height = 1.0
hide-mouse-cursor-when-typing = true

[window]
decorations = "Disabled"
opacity = 1.0
blur = false
padding = [24]

[cursor]
shape = 'block'
blinking = false
trail-cursor = true
trail-cursor-color = '#ee5396'

[fonts]
size = 17.0

[fonts.regular]
family = "Liga SFMono Nerd Font"
style = "normal"
weight = 400

[fonts.bold]
family = "Liga SFMono Nerd Font"
style = "normal"
weight = 700

[fonts.italic]
family = "Liga SFMono Nerd Font"
style = "italic"
weight = 400

[fonts.bold-italic]
family = "Liga SFMono Nerd Font"
style = "italic"
weight = 700

# --- Tema Oxocarbon (Canónico de Shaun Singh) ---
[colors]
background = '#161616'
foreground = '#ffffff'
cursor = '#ee5396'
tabs = '#161616'
tabs-active = '#262626'
selection-background = '#ee5396'
selection-foreground = '#161616'

black = '#161616'
red = '#ee5396'
green = '#42be65'
yellow = '#08bdba'
blue = '#78a9ff'
magenta = '#be95ff'
cyan = '#33b1ff'
white = '#dde1e6'

dim-black = '#262626'
dim-red = '#ee5396'
dim-green = '#42be65'
dim-yellow = '#08bdba'
dim-blue = '#78a9ff'
dim-magenta = '#be95ff'
dim-cyan = '#33b1ff'
dim-white = '#dde1e6'

light-black = '#525252'
light-red = '#ee5396'
light-green = '#42be65'
light-yellow = '#08bdba'
light-blue = '#78a9ff'
light-magenta = '#be95ff'
light-cyan = '#33b1ff'
light-white = '#ffffff'
