{{- $githubToken := env "GITHUB_TOKEN" -}}
{{- if not $githubToken -}}
{{-   $githubToken = promptStringOnce . "githubToken" "GitHub Personal Access Token" -}}
{{- end -}}
{{- $secretsPath := joinPath .chezmoi.sourceDir "dot_config/homelab/private_secrets.yaml.age" -}}
{{- $forgejoToken := "" -}}
{{- if stat $secretsPath -}}
{{-   $forgejoToken = (include $secretsPath | decrypt | fromYaml).forgejo_token -}}
{{- end -}}
{{- $isLaptop := false -}}
{{- $isDesktop := false -}}
{{- $isWSL := false -}}
{{- $isServer := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if env "WSL_DISTRO_NAME" -}}
{{-     $isWSL = true -}}
{{-   else if or (eq .chezmoi.hostname "servidor") (eq .chezmoi.hostname "vault") (eq .chezmoi.hostname "homelab") -}}
{{-     $isServer = true -}}
{{-   else if stat "/sys/class/power_supply/BAT0" -}}
{{-     $isLaptop = true -}}
{{-   else -}}
{{-     $isDesktop = true -}}
{{-   end -}}
{{- end -}}
encryption: "age"
age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age1w93unwnu802h9vkygj2d4dxmu23yghw9kd39thwgc0susmsu7spscwp0wa"
bitwarden:
  base_url: "https://vault.home"
data:
  githubToken: {{ $githubToken | quote }}
  isLaptop: {{ $isLaptop }}
  isDesktop: {{ $isDesktop }}
  isWSL: {{ $isWSL }}
  isServer: {{ $isServer }}
  os: {{ .chezmoi.os }}
  hostname: {{ .chezmoi.hostname }}
  fontSizeTerminal: {{ if $isDesktop }}15{{ else }}13{{ end }}
  gitName: "yordycg"
  gitEmail: "yordy.carmona8@gmail.com"
  forgejoToken: {{ $forgejoToken | quote }}
