[user]
	name = {{ .gitName }}
	email = {{ .gitEmail }}

[core]
{{- if eq .os "windows" }}
	editor = "C:/Program Files/Neovim/bin/nvim.exe"
	autocrlf = true
{{- else }}
	editor = nvim
	autocrlf = input
{{- end }}
	pager = delta
	compression = 9
	whitespace = error
	preloadindex = true
	symlinks = true

[init]
	defaultBranch = main

[delta]
	navigate = true						# use n and N to move between diff sections
	line-numbers = true
	side-by-side = true
	syntax-theme = gruvbox-dark
	plus-style = syntax "#012800"
	minus-style = syntax "#340001"
	file-added-label = [+]
	file-modified-label = [*]
	file-removed-label = [-]
	file-copied-label = [==]
	file-renamed-label = [->]

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[pull]
	rebase = true

[push]
	autoSetupRemote = true					# easier to push new branches
	default = current					# push only current branch by default
	followTags = true					# push also tags

[rebase]
	autoStash = true

[alias]
	st = status -sb
	lg = log --graph --abbrev-commit --decorate --pretty=modern --all
	undo = reset --soft HEAD~1				# undo last commit
	aliases = config --get-regexp alias
	unstage = reset HEAD --					# remove files from stage
	amend = commit --amend					# modify last commit, open editor
	amend-no = commit --amend --no-edit			# modify last commit WITHOUT change message

[pretty]
	modern = format:%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)
	colored = format:%C(yellow)%h%C(reset) %C(bold blue)<%an>%C(reset) %s %C(green)(%cr) %C(reset)
	graph = format:%C(yellow)%h%C(reset) -%C(red)%d%C(reset) %s %C(green)(%ar) %C(bold blue)<%an>%C(reset)
	bw = format:%h | %as | %>(20,trunc)%d%x09%s

[url "git@github.com:"]
	insteadOf = "gh:"					# ex: 'g clone gh:torvals/linux'

# -- Multi-Git (Identidades Condicionales) --
# Si estas en Linux
{{ if eq .chezmoi.os "linux" -}}
[includeIf "gitdir:~/workspace/ipvg/"]
	path = ~/.config/git/identity-ipvg
[includeIf "gitdir:~/workspace/work/"]
	path = ~/.config/git/identity-work
{{- end }}

# Si estas en Windows
{{ if eq .chezmoi.os "windows" -}}
[includeIf "gitdir/i:{{ .chezmoi.homeDir }}/workspace/ipvg/"]
	path = ~/.config/git/identity-ipvg
[includeIf "gitdir/i:{{ .chezmoi.homeDir }}/workspace/work/"]
	path = ~/.config/git/identity-work
{{- end }}

# -- Configuracion Local y Credenciales --
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential

[include]
	path = ~/.gitconfig.local
