Host homelab
    {{- if .isDesktop }}
    HostName {{ .homelab_ip_local }}
    {{- else }}
    HostName {{ .homelab_ip_ts }}
    {{- end }}
    User yordycg
    Port 22
    IdentityFile ~/.ssh/id_ed25519
    AddKeysToAgent yes
    ForwardAgent yes
    ServerAliveInterval 60
    ServerAliveCountMax 3
    Compression yes

Host forgejo.home
    {{- if .isDesktop }}
    HostName {{ .homelab_ip_local }}
    {{- else }}
    HostName {{ .homelab_ip_ts }}
    {{- end }}
    User git
    Port 2222
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes

Host github.com
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes
