{
  "currentThemeName": "{{ .dms.theme }}",
  "currentThemeCategory": "{{ .dms.theme_category }}",
  "customThemeFile": "",
  "matugenScheme": "{{ .dms.matugen_scheme }}",
  "matugenContrast": 0,
  "runUserMatugenTemplates": true,
  "matugenTargetMonitor": "",
  "wallpaperFillMode": "{{ .dms.fill_mode }}",
  "blurredWallpaperLayer": {{ .dms.blurred_wallpaper_layer }},
  "blurWallpaperOnOverview": {{ .dms.blur_wallpaper_on_overview }},
  "wallpaperBackgroundColorMode": "{{ .dms.background_color_mode }}",
  "wallpaperBackgroundCustomColor": "{{ .dms.background_custom_color }}",
  "cornerRadius": {{ .dms.corner_radius }},
  "niriLayoutGapsOverride": -1,
  "niriLayoutRadiusOverride": -1,
  "niriLayoutBorderSize": -1,
  "blurEnabled": {{ .dms.blur_enabled }},
  "dockTransparency": 1,
  "popupTransparency": 1,
  "widgetBackgroundColor": "sch",
  "widgetBackgroundCustomColor": "#6750A4",
  "widgetBackgroundCustomStrength": 0.5,
  "showLauncherButton": true,
  "showWorkspaceSwitcher": true,
  "showFocusedWindow": true,
  "showWeather": true,
  "showMusic": true,
  "showClipboard": true,
  "showCpuUsage": true,
  "showMemUsage": true,
  "firstDayOfWeek": -1,
  "clockFormat": "auto",
  "showSeconds": false
}
