# --- Theme ---
theme = koda-moss
background-opacity = 0.92
background-blur = true
background-blur-radius = 20

# --- Font & Layout ---
font-feature = +calt
font-feature = +liga
font-family = "GeistMono Nerd Font"
font-size = 13.0

# --- Window Layout & Behavior ---
window-padding-x = 20
window-padding-y = 18
window-decoration = false
window-inherit-working-directory = true
confirm-close-surface = false

# --- Scrollback ---
scrollback-limit = 10000

# --- Mouse & Clipboard ---
copy-on-select = clipboard
focus-follows-mouse = false

# --- Cursor Customization ---
cursor-style = block
cursor-style-blink = false
cursor-click-to-move = true
