# ── Foot Terminal Configuration ───────────────────────────────────────────────

# --- Font & Layout ---
font=Iosevka Nerd Font Mono:size=14
pad=20x20

[mouse]
hide-when-typing=yes

[cursor]
style=block
blink=no

[scrollback]
lines=10000

[colors-dark]
{{- if eq .node.profile "laptop" }}
alpha=1.0
{{- else }}
# alpha=0.90
alpha=1.00
{{- end }}

# --- Catppuccin Mocha Theme Palette ---
foreground=cdd6f4
background=1e1e2e

regular0=45475a  # black
regular1=f38ba8  # red
regular2=a6e3a1  # green
regular3=f9e2af  # yellow
regular4=89b4fa  # blue
regular5=f5c2e7  # magenta
regular6=94e2d5  # cyan
regular7=bac2de  # white

bright0=585b70    # bright black
bright1=f38ba8    # bright red
bright2=a6e3a1    # bright green
bright3=f9e2af    # bright yellow
bright4=89b4fa    # bright blue
bright5=f5c2e7    # bright magenta
bright6=94e2d5    # bright cyan
bright7=a6adc8    # bright white
