# =============================================================================
# hyprpaper.conf — Configuración de Hyprpaper
# Nota: swww es preferible para transiciones animadas.
# Este archivo se usa solo si swww no está disponible.
# =============================================================================

preload = {{ .chezmoi.homeDir }}/Pictures/Wallpapers/default.jpg
wallpaper = ,{{ .chezmoi.homeDir }}/Pictures/Wallpapers/default.jpg

# Splash desactivado (el wallpaper lo reemplaza)
splash = false
