[Desktop Entry]
Name=Bruno
Comment=Opensource IDE for exploring and testing APIs
Exec=flatpak run com.usebruno.Bruno --disable-gpu %U
Terminal=false
Type=Application
Icon=com.usebruno.Bruno
StartupWMClass=bruno
Categories=Development;
MimeType=application/json;
