[Desktop Entry]
Name=desktop-theme-toggle.sh (Alternar Tema Global)
Comment=Alterna todo tu escritorio entre el tema estático Kanagawa Dragon y el tema dinámico según el fondo
Exec={{ .chezmoi.homeDir }}/.local/bin/desktop-theme-toggle.sh
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Settings;System;
Keywords=theme;tema;toggle;conmutador;global;kanagawa;wallust;
StartupNotify=false
