[Desktop Entry]
Name=rofi-powermenu.sh (Menú de Apagado)
Comment=Acciones de sistema: Apagar, reiniciar, suspender, bloquear y cerrar sesión
Exec={{ .chezmoi.homeDir }}/.local/bin/rofi-powermenu.sh
Icon=system-log-out
Terminal=false
Type=Application
Categories=System;
Keywords=shutdown;reboot;lock;suspend;logout;salir;apagar;reiniciar;bloquear;
StartupNotify=false
