[Desktop Entry]
Name=rofi-wallpaper.sh (Selector de Fondos)
Comment=Cambia el fondo de pantalla y el tema de colores usando Rofi
Exec={{ .chezmoi.homeDir }}/.local/bin/rofi-wallpaper.sh
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Settings;System;
Keywords=wallpaper;fondos;tema;wallust;
StartupNotify=false
