{{- $localPath := joinPath .chezmoi.homeDir ".config/gtk-4.0/settings.ini" -}}
{{- if and (or (eq .desktopEnv "kde") (eq .desktopEnv "both")) (stat $localPath) -}}
{{-   include $localPath -}}
{{- else -}}
[Settings]
gtk-icon-theme-name = Gruvbox-Material-Dark
gtk-theme-name = Gruvbox-Material-Dark
gtk-font-name = SF Pro 10.699
gtk-cursor-theme-name = default
gtk-cursor-theme-size = 24
gtk-application-prefer-dark-theme = 1
{{- end -}}
