#!/usr/bin/bash

# run_10-install-fonts.sh
# -----------------------------------------------------------------------------
# Este script instala las Nerd Fonts seleccionadas para Linux.

{{ if .isServer -}}
echo "== Saltando instalación de fuentes (Entorno Servidor detectado)"
exit 0
{{- end }}

version="3.3.0"
fonts_dir="${HOME}/.local/share/fonts"

# Lista de fuentes
declare -a fonts=(
  JetBrainsMono
  FiraCode
  Lilex
  CaskaydiaCove
)

# Asegurar que el directorio de fuentes existe
if [[ ! -d "$fonts_dir" ]]; then
  echo "📁 Creando directorio de fuentes en $fonts_dir..."
  mkdir -p "$fonts_dir"
fi

echo "🔍 Verificando fuentes..."

for font in "${fonts[@]}"; do
  if [ ! -d "$fonts_dir/$font" ]; then
    echo "📥 Descargando e instalando: $font Nerd Font..."
    zip_file="${font}.zip"
    download_url="https://github.com/ryanoasis/nerd-fonts/releases/download/v${version}/${zip_file}"
    
    if wget -q --show-progress "$download_url"; then
      unzip -o "$zip_file" -d "$fonts_dir/$font"
      rm "$zip_file"
      echo "✅ $font instalado correctamente."
    else
      echo "❌ Error al descargar $font. Verifica tu conexión."
    fi
  else
    echo "✨ $font ya está instalada. Saltando..."
  fi
done

echo "🧹 Limpiando archivos innecesarios..."
find "$fonts_dir" -name '*Windows Compatible*' -delete

echo "🔄 Actualizando caché de fuentes (fc-cache)..."
fc-cache -fv

echo "🎉 ¡Proceso de fuentes finalizado!"
