-------------------
---- AUTOSTART ----
-------------------

-- See https://wiki.hypr.land/Configuring/Basics/Autostart/

hl.on("hyprland.start", function()
	hl.exec_cmd("waybar") -- waybar
	hl.exec_cmd("hyprpm reload") -- plugins

	-- Wallpaper Daemon based on profile (ECO vs FULL)
	{{- if eq .node.profile "laptop" }}
	hl.exec_cmd("hyprpaper") -- Wallpaper daemon for ECO mode (laptop)
	{{- else }}
	hl.exec_cmd("awww-daemon") -- Wallpaper daemon for FULL mode (desktop)
	{{- end }}

	-- Polkit Agent based on distro
	{{- if eq .node.distro "fedora" }}
	hl.exec_cmd("/usr/libexec/polkit-mate-authentication-agent-1") -- Polkit agent for Fedora
	{{- else if eq .node.distro "arch" }}
	hl.exec_cmd("/usr/lib/polkit-kde-authentication-agent-1") -- Polkit agent for Arch
	{{- end }}

	hl.exec_cmd("udiskie") -- auto-mount devices
	hl.exec_cmd("hypridle") -- idle daemon
	hl.exec_cmd("swaync") -- notification daemon
	hl.exec_cmd("snappy-switcher") -- window switcher daemon (ALT + Tab)
	-- cursor...
	hl.exec_cmd("wl-paste --type text --watch cliphist store") -- clipboard
	hl.exec_cmd("mpris-proxy") -- mpris-proxy
end)
