-------------------
---- AUTOSTART ----
-------------------

-- See https://wiki.hypr.land/Configuring/Basics/Autostart/

hl.on("hyprland.start", function()
	-- D-Bus & Gnome Keyring
	hl.exec_cmd("dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP")
	hl.exec_cmd("gnome-keyring-daemon --start --components=secrets")

	hl.exec_cmd("waybar") -- waybar
	hl.exec_cmd("hyprpm reload") -- plugins

	-- Wallpaper Daemon (unificado para desktop y laptop)
	hl.exec_cmd("swaybg -i ~/.config/hypr/power-line-00.jpg -m fill") -- Wallpaper daemon (swaybg)

	-- Polkit Agent based on distro
	{{- if eq .node.distro "fedora" }}
	hl.exec_cmd("/usr/libexec/polkit-mate-authentication-agent-1") -- Polkit agent for Fedora
	{{- else if eq .node.distro "arch" }}
	hl.exec_cmd("/usr/lib/polkit-kde-authentication-agent-1") -- Polkit agent for Arch
	{{- end }}

	hl.exec_cmd("udiskie") -- auto-mount devices
	hl.exec_cmd("hypridle") -- idle daemon
	hl.exec_cmd("swaync") -- notification daemon
	hl.exec_cmd("snappy-switcher --daemon") -- window switcher daemon (SUPER + Tab)
	-- cursor...
	hl.exec_cmd("wl-paste --type text --watch cliphist store") -- clipboard
	hl.exec_cmd("mpris-proxy") -- mpris-proxy
end)
