local colors = require("colors")

-----------------------
---- LOOK AND FEEL ----
-----------------------

-- Refer to https://wiki.hypr.land/Configuring/Basics/Variables/
hl.config({
	general = {
		gaps_in = 5,
		gaps_out = 15,

		border_size = 1,

		col = {
			active_border = colors.active_border,
			inactive_border = colors.inactive_border,
		},

		-- Set to true to enable resizing windows by clicking and dragging on borders and gaps
		resize_on_border = false,

		-- Please see https://wiki.hypr.land/Configuring/Advanced-and-Cool/Tearing/ before you turn this on
		allow_tearing = false,
	},

	decoration = {
		rounding = 10,
		rounding_power = 6,

		-- Change transparency of focused and unfocused windows
		active_opacity = 0.97,
		inactive_opacity = 0.8, -- entre .8 y .9

		shadow = {
			{{- if eq .node.profile "laptop" }}
			enabled = false,
			{{- else }}
			enabled = true,
			range = 20,
			render_power = 3,
			color = 0xee121212,
			{{- end }}
		},

		blur = {
			{{- if eq .node.profile "laptop" }}
			enabled = false,
			{{- else }}
			enabled = true,
			size = 20,
			passes = 3,
			vibrancy = 0.1696,
			{{- end }}
		},
	},

	animations = {
		{{- if eq .node.profile "laptop" }}
		enabled = false,
		{{- else }}
		enabled = true,
		{{- end }}
	},
})
