------------------
---- MONITORS ----
------------------

-- See https://wiki.hypr.land/Configuring/Basics/Monitors/
{{- if eq .node.profile "desktop" }}
-- Monitor Principal (Acer Z271 a 144Hz)
hl.monitor({
	output = "DP-2",
	mode = "1920x1080@143.98",
	position = "0x0",
	scale = "1.00",
})

-- Monitor Secundario (HUAWEI AD80HW a 75Hz)
hl.monitor({
	output = "HDMI-A-1",
	mode = "1920x1080@74.97",
	position = "1920x0",
	scale = "1.00",
})

-- DP-2 gets 1-5, HDMI-A-1 gets 6-10
for i = 1, 5 do
    hl.workspace_rule({workspace = tostring(i), monitor = "DP-2", persistent = true, default = (i == 1) })
end
for i = 6, 10 do
    hl.workspace_rule({workspace = tostring(i), monitor = "HDMI-A-1", persistent = true, default = (i == 6) })
end
{{- else }}
-- Fallback automático para cualquier monitor
hl.monitor({
	output = "",
	mode = "preferred",
	position = "auto",
	scale = "auto",
})
{{- end }}
