{{- $items := list "volume" "workspace" "time" "date" -}}
{{- if eq .node.profile "laptop" -}}
{{- $items = append $items "battery" -}}
{{- end -}}
{
    "clockFormat": "24",
    "dynamicIslandLeftSwipeItems": [
{{- range $i, $item := $items }}
        "{{ $item }}"{{ if lt $i (sub (len $items) 1) }},{{ end }}
{{- end }}
    ],
    "hoverExpandAction": 2,
    "islandAutoHideEnabled": false,
    "islandBackgroundOpacity": 90,
    "islandHeight": 38,
    "islandTopMargin": 5,
    "islandWidth": 140,
    "textFontFamily": "",
    "titleFontSize": 18,
    "wallpaperLibraryPath": "~/Pictures/Wallpapers",
    "wallpaperPywalEnabled": false
}